--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.12.1+cu113
torchvision==0.13.1+cu113
git+https://github.com/mix1009/sdwebuiapi@a1cb4c6d2f39389d6e962f0e6436f4aa74cd752c
gitpython
nltk
sanitize_filename
opencv-python
openai
pyttsx3
gradio>=3.21.0
scikit-image
gdown
ffmpeg
imageio[ffmpeg]
av
imageio[av]
librosa
azure-cognitiveservices-speech